adblockparser==0.7
attrs==20.3.0
beautifulsoup4==4.9.3
chardet==3.0.4
dlib==19.21.1
future==0.18.2
imap-tools==0.34.0
multidict
npyscreen==4.10.5
numpy==1.18.5
openpyxl==2.6.4
six==1.15.0
soupsieve==2.1
typing-extensions==3.7.4.3
whois==0.9.8

tqdm==4.57.0
py-singleton==1.0.0
lxml==4.6.2
html2text==2020.1.16

tldextract~=3.1.0
editdistance~=0.5.3
idna==2.5
PyInquirer==1.0.3
PyQt5==5.12

PyInstaller

spacy==2.3.5
spacy_cld
spacy-readability